---
import Greeting from '../components/Greeting';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';


const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>
  <p>Welcome to the home page!</p>
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>