---
type NavigationProps = {
  items: { url: string; label: string }[];
  id: string;
};

const { items, id } = Astro.props as NavigationProps;
---
<nav>
  <div class="nav-links" id={id}>
    {items.map((item) => (<a href={item.url}>{item.label}</a>))}
  </div>
</nav>  